
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2; 
}
.bottom-5 {
    bottom: 3%;
    
}

.AudioController {
    position: absolute;
    top: 0;
  

    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 2px; 
    z-index: 2;
}
#profile {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black
}
#profileBanner{
    padding: 5px;
    background: black;
    border: 2px solid black
}
.cont  {
    height: 90vh;
    margin-left: 5%;
    
    
}

.btnPlayShop {
    background: url(../img/gioca.png);
    background-position: center;
    background-size: cover;
}

.circus  {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 25%;
}
.animal1 {
    height: 10%;
}
.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}
