
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2; 
}
.bottom-5 {
    bottom: 3%;
    
}

.AudioController {
    position: absolute;
    top: 0;
  

    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 2px; 
    z-index: 2;
}
#profile {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black
}
#profileBanner{
    padding: 5px;
    background: black;
    border: 2px solid black
}
.cont  {
    height: 90vh;
    margin-left: 5%;
    
    
}

.btnPlayShop {
    background: url(../img/gioca.png);
    background-position: center;
    background-size: cover;
}

.circus  {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 25%;
}
.animal1 {
    height: 10%;
}
.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}
.shadow-blue {
 
    box-shadow: 0 0 10px 1px rgb(2, 194, 228);
  }
  .shadow-red {
   
    box-shadow: 0 0 10px 1px rgb(255, 34, 1); 
  }
  .shadow-game {
   border: 4px solid white;
    box-shadow: 0 0px 15px 2px rgb(2, 194, 228);
  }

 .hover-effect-r0:hover, .hover-effect-r1:hover, .hover-effect-r2:hover,
 .hover-effect-r3:hover, .hover-effect-r4:hover, .hover-effect-r5:hover, .hover-effect-r6:hover
 , .hover-effect-r7:hover, .hover-effect-r8:hover, .hover-effect-r9:hover {
    box-shadow: 0 0 10px 1px rgb(2, 194, 228);
    cursor: pointer;
    
 }
 .hover-effect-l0:hover, .hover-effect-l1:hover, .hover-effect-l2:hover,
 .hover-effect-l3:hover, .hover-effect-l4:hover, .hover-effect-l5:hover, .hover-effect-l6:hover
 , .hover-effect-l7:hover, .hover-effect-l8:hover, .hover-effect-l9:hover {
    box-shadow: 0 0 10px 1px rgb(228, 66, 2);
    cursor: pointer;
 }